<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Catalog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    
    <p>{{product.id}} - {{product.name}}</p>

    <form action="{% url 'update' product.id %}" method="POST">
        {% csrf_token %}
        <input type="text" name="name" value="{{product.name}}">
        <button type="submit">update</button>
    </form>

</body>
</html>